<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlauthDesktop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A70F18C169AE25C00F118A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A70F1AD169AE25C00F118A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AFBB5AA169D896D00923E67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AFBB5D2169D896E00923E67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
